/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Header and Footer */
header, footer {
    background-color: #0048ff;
    color: white;
    padding: 15px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a img {
    height: 50px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}


/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ff0000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Content */
main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}

/* Pokémon Team Layout */
.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.pokemon {
    text-align: center;
    width: 200px;
}

.pokemon img {
    width: 150px;
    height: 150px;
}

.pokemon p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
}

/* Footer */
footer {
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .team {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .team {
        grid-template-columns: 1fr;
    }
}
